{% extends '_layout.html' %}

{% block title %}Movie Rating App | Search Movie Ratings{% endblock %}

{% block body %}
<h1 class="mb-5">Search Movie Ratings</h1>
<p class="mb-3">Search for a movie rating below</p>
<p>*First letter in each word need to be capitalized*</p>
<!-- TODO: Feature 3 -->
<form action="/movies/search" method="get">
    <input type="text" name="movie_title" autocomplete="off" placeholder="Ex: Bee Movie"> <br><br>
    <button type="submit" >Submit</button>
</form>

<br>

<table class = "table">
    <tr>
        <th>Movie</th>
        <th>Director</th>
        <th>Rating</th>
    </tr>

{% if movie != none %}
        <tr>
            <td>{{movie.title}}</td>
            <td>{{movie.director}}</td>
            <td>{{movie.rating}}</td>
        </tr>


{% else %}

<h2>Movie not Found</h2>

{% endif %}
    </table>
{% endblock %}